# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
adal==1.2.6
anyio==2.0.2
argon2-cffi==20.1.0
async_generator==1.10
attrs==20.3.0
azure-cognitiveservices-search-imagesearch==2.0.0
azure-common==1.1.26
backcall==0.2.0
backports==1.0
backports.functools_lru_cache==1.6.1
blas==2.107
blas-devel==3.9.0
bleach==3.2.2
blis==0.7.4
ca-certificates==2020.12.5
catalogue==1.0.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
colorama==0.4.4
cryptography==3.3.1
cudatoolkit==10.2.89
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastai==2.0.19
fastbook==0.0.12
fastcore==1.3.2
fastprogress==1.0.0
fastscript==1.0.0
freetype==2.10.4
future==0.18.2=pypi_0
idna==2.10=pypi_0
importlib-metadata==3.4.0
importlib_metadata==3.4.0
intel-openmp==2020.3
ipykernel==5.1.0
ipython==7.12.0
ipython_genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
jedi==0.18.0
jinja2==2.11.2
joblib==1.0.0
jpeg==9d
jsonschema==3.2.0
jupyter==1.0.0
jupyter-console==6.2.0
jupyter-contrib-core==0.3.3
jupyter-nbextensions-configurator==0.4.1
jupyter-server==1.2.2
jupyter_client==6.1.11
jupyter_core==4.7.0
jupyterlab-widgets==1.0.0
jupyterlab_pygments==0.1.2
kiwisolver==1.3.1
libblas==3.9.0
libcblas==3.9.0
liblapack==3.9.0
liblapacke==3.9.0
libpng==1.6.37
libsodium==1.0.18
libtiff==4.2.0
lz4-c==1.9.3
m2w64-gcc-libgfortran==5.3.0
m2w64-gcc-libs==5.3.0
m2w64-gcc-libs-core==5.3.0
m2w64-gmp==6.1.0
m2w64-libwinpthread-git==5.0.0.4634.697f757
markupsafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
mkl==2020.4
mkl-devel==2020.4
mkl-include==2020.4
msrest==0.6.20
msrestazure==0.6.4
msys2-conda-epoch
murmurhash==1.0.5
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.4.3
ninja==1.10.2
notebook==6.2.0
numpy==1.19.5
oauthlib==3.1.0
olefile==0.46
openssl==1.1.1i
packaging==20.8
pandas==1.2.1
pandoc==2.11.4
pandocfilters==1.4.2
parso==0.8.1
pickleshare==0.7.5
pillow==8.1.0
pip==21.0
plac==1.1.3
preshed==3.0.5
prometheus_client==0.9.0
prompt-toolkit==3.0.14
prompt_toolkit==3.0.14
pycparser==2.20
pygments==2.7.4
pyjwt==2.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python==3.8.6
python-dateutil==2.8.1
python-graphviz==0.16
python_abi==3.8
pytorch==1.6.0
pytz==2020.5
pywin32==300
pywinpty==0.5.7
pyyaml==5.4.1
pyzmq==21.0.1
qtconsole==5.0.2
qtpy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
scikit-learn==0.24.1
scipy==1.6.0
send2trash==1.5.0
sentencepiece==0.1.95
setuptools==49.6.0
six==1.15.0
sniffio==1.2.0
spacy==2.3.5
sqlite==3.34.0
srsly==1.0.5
terminado==0.9.2
testpath==0.4.4
thinc==7.4.5
threadpoolctl==2.1.0
tk==8.6.10
torchvision==0.7.0
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
urllib3==1.26.2
vc==14.2
voila==0.2.6
wasabi==0.8.1
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
widgetsnbextension==3.5.1
wincertstore==0.2
winpty==0.4.3
xz==5.2.5
zeromq==4.3.3
zipp==3.4.0
zlib==1.2.11
zstd==1.4.8
